<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" class="css">
    <script src="{{ url_for('static', filename='js/home.js') }}" type="text/javascript" defer></script>
</head>

<body>
    <div class="main">
        <h1 class="head1">Sentiment Analysis & Emotion Detection</h1>
        <p class="para1">Sentiment analysis and emotion detection are powerful tools for understanding public opinion,
            consumer behavior, and market trends. This project aims to harness machine learning models to analyze text
            data
            from various sources, providing real-time insights and decision support.</p>
        <h2 class="head2">Getting Started Towards Prediction</h2>
        <div class="press">
            <div class="button1">
                <a class="button" href="{{ url_for('sentiment_page') }}">Sentiment Analysis</a>
            </div>
            <div class="button2">
                <a class="button" href="{{ url_for('emotion_page') }}">Emotion Detection</a>
            </div>
        </div>
    </div>
    <div class="main2">
        <img class="image2" src="../static/images/image2.jpg" alt="">
        <img class="image3" src="../static/images/image3.jpg" alt="">
        <img class="image3" src="../static/images/image4.jpg" alt="">
        <img class="image3" src="../static/images/image5.jpg" alt="">
    </div>



    <div class="main-mover">
        <div class="mover">
            <h1 style="text-align: center">Sentiment Analysis & Emotion Detection Predictions</h1>
            <div class="scroller" data-speed="fast">
                <ul class="tag-list scroller__inner">
                    <li>Admiration</li>
                    <li>Amusement</li>
                    <li>Anger</li>
                    <li>Annoyance</li>
                    <li>Approval</li>
                    <li>Caring</li>
                    <li>Confusion</li>
                    <li>Curiosity</li>
                    <li>Desire</li>
                    <li>Disappointment</li>
                    <li>Disapproval</li>
                    <li>Disgust</li>
                    <li>Embarrassment</li>
                    <li>Excitement</li>
                    <li>Fear</li>
                    <li>Gratitude</li>
                    <li>Grief</li>
                    <li>Joy</li>
                    <li>Love</li>
                    <li>Nervousness</li>
                    <li>Optimism</li>
                    <li>Pride</li>
                    <li>Realization</li>
                    <li>Relief</li>
                    <li>Remorse</li>
                    <li>Sadness</li>
                    <li>Surprise</li>
                    <li>Neutral</li>
                </ul>
            </div>
            <div class="scroller" data-direction="right" data-speed="slow">
                <div class="scroller__inner">
                    <img src="../static/images/png/1.png" alt="" />
                    <img src="../static/images/png/2.png" alt="" />
                    <img src="../static/images/png/3.png" alt="" />
                    <img src="../static/images/png/4.png" alt="" />
                    <img src="../static/images/png/5.png" alt="" />
                    <img src="../static/images/png/6.png" alt="" />
                    <img src="../static/images/png/7.png" alt="" />
                    <img src="../static/images/png/8.png" alt="" />
                    <img src="../static/images/png/9.png" alt="" />
                    <img src="../static/images/png/10.png" alt="" />
                    <img src="../static/images/png/11.png" alt="" />
                    <img src="../static/images/png/12.png" alt="" />
                    <img src="../static/images/png/13.png" alt="" />
                    <img src="../static/images/png/14.png" alt="" />
                    <img src="../static/images/png/15.png" alt="" />
                    <img src="../static/images/png/16.png" alt="" />
                    <img src="../static/images/png/17.png" alt="" />
                    <img src="../static/images/png/18.png" alt="" />
                    <img src="../static/images/png/19.png" alt="" />
                    <img src="../static/images/png/20.png" alt="" />
                    <img src="../static/images/png/21.png" alt="" />
                    <img src="../static/images/png/22.png" alt="" />
                    <img src="../static/images/png/23.png" alt="" />

                </div>
            </div>
        </div>
    </div>





</body>

</html>